<div class="container">
  <div class="text-container">
    <h3 class="ml">Number of current shapes: {{shapesOnScreen}}</h3>
    <h3 class="ml">Surface area occupied by shapres: {{shapesArea}}(px^2)</h3>
  </div>
  <div #pixiContainer class="canvas"></div>
</div>
<div class="controls-container">
  <div class="controls">
    <h3>Number of shapes/second</h3>
    <p>{{shapes}}</p>
    <div class="button-container">
      <button (click)="increaseShapesPerSecond()">+</button>
      <button (click)="decreaseShapesPerSecond()">-</button>
    </div>
  </div>
  <div class="controls">
    <h3>Gravity value</h3>
    <p>{{gravity}}</p>
    <div class="button-container">
      <button (click)="increaseGravity()">+</button>
      <button (click)="decreaseGravity()">-</button>
    </div>
  </div>
</div>
